{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mt-4 mb-4">Editar Producto</h1>

        <form action="{{ path('producto_actualizar', {'id': producto.id}) }}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" value="{{ producto.nombre }}" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" class="form-control" value="{{ producto.precio }}" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="4" required>{{ producto.descripcion }}</textarea>
            </div>
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" class="form-control" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if producto.categoria.id == categoria.id %} selected {% endif %}>{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" id="novedad" name="novedad" class="form-check-input" {% if producto.novedad %} checked {% endif %}>
                <label for="novedad" class="form-check-label">Es novedad</label>
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
{% endblock %}
