{% extends 'base.html.twig' %}

{% block title %}Detalles del Producto{% endblock %}

{% block main %}
    <h1>{{ producto.Nombre }}</h1>

    <p>Precio: {{ producto.Precio }}</p>
    <p>Descripción: {{ producto.Descripcion }}</p>
    <p>Categoría: {{ producto.Categoria.Nombre }}</p>
    <a href="{{ path('productos_index') }}">Volver a la lista</a>
{% endblock %}
