{# templates/productos/ver.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Detalles del Producto
{% endblock %}

{% block main %}
	<div class="product-details">
		<h1>{{ producto.nombre }}</h1>
		<div class="product-info">
			<div class="product-image">
				<img src="{{ asset('images/product-placeholder.png') }}" alt="{{ producto.nombre }}">
			</div>
			<div class="product-description">
				<p class="price">{{ producto.precio }}
					€</p>
				<p class="description">{{ producto.descripcion }}</p>
				<p class="category">Categoría:
					{{ producto.categoria.nombre }}</p>
				<p class="new">{{ producto.novedad ? '¡Novedad!' : '' }}</p>
			</div>
		</div>
		<div class="product-actions">
			<a href="{{ path('ver_todos_los_productos') }}">
				<button class="customButton mt-3">Lista de Productos</button>
			</a>
			<a href="{{ path('app_tienda') }}">
				<button class="customButton mt-3">Volver a la tienda</button>
			</a>
		</div>
	</div>
{% endblock %}
