{% extends 'base.html.twig' %}

{% block main %}
	<div class="contenidoTienda">
		<div class="contenedorBarraTienda">
			{% include 'tienda/navbar.html.twig' %}
		</div>
		<div class="container mt-4">
			<h1>Lista de Categorias</h1>
			<div class="row mt-4">
				{% for categoria in categorias %}
					<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
						<div
							class="card">
							{# <img src="{{ asset('uploads/productos/' ~ producto.imagen) }}" class="card-img-top" alt="{{ producto.nombre }}"> #}
							<div class="card-body">
								<a href="{{ path('categoria_ver', {'id': categoria.id}) }}">
									<h5 class="card-title"id="titulosSecundarios">{{ categoria.nombre }}</h5>
									<p class="card-text" id="textosGenerales">{{ categoria.descripcion }}</p>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
