
<div class="tienda-sidebar" id="tiendaSidebar">
<a href="{{ path('ver_todos_los_productos') }}">Productos</a>
<a href="{{ path('ver_todas_novedades') }}">Novedades</a>
<a href="{{ path('ver_todas_las_categorias') }}">Categorías</a>
<a href="{{ path('carrito_ver') }}">Carrito</a>
</div>

<button class="menu-btn" id="menuBtn"><img id="menuIcon" src="{{ asset('imagenes/botones/iconoFlecha.png') }}" alt="Toggle Menu"></button>